$padding: 20px;
$padding-small: 10px;
$padding-large: 40px;

$navbar-height: 50px;
$filter-height: 40px;

$color-white-base: #ffffff;
$color-black-base: #000000;
$color-red-base: #fd4f68;
$color-red-secondary: #E80C1B;
$color-grey-base: #3e3e3e;
$color-green-base: #90fb84;
$color-blue-base: #4a9dfb;
$color-grey-bg: #d9d9d9;
