extends index.pug

block navlinks
    li
        a(href="/") Home
    li
        a(href="/Messages") Messages
    li(class="active")
        a(href="/groups") Groups
        span(class="sr-only") (current)
