.carousel {

    .carousel-inner>.item>a>img, .carousel-inner>.item>img {
        background-size: cover;
        background-position: center;
        height: 250px;
        width: 100%;

        @media (min-width: 576px) {
            height: 400px;
        }

        @media (max-width: 575px) {
            height: 300px;
        }
    }
}
